<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Prediction Tester</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static\style.css">
    </head>
<html>
    <body>
        <div id = "title">
            Brain Stroke? 
            <br>
            <b>{{prediction}}
        </div>

        <form id="my-form" action="/predict" method="POST">

            <div id="question-section-1">
                <label for = "gender">Gender</label>
                <br>
                <div id="selection-section">
                    <input class="form-control" type="radio" id="gender" name="gender" value="Male">Male<br>
                    <input class="form-control" type="radio" id="gender" name="gender" value="Female">Female<br>
                </div>
            </div>

            <div id="question-section-2">
                <label for = "age">Age</label>
                <br>
                <input class="form-control" type="text" id="age" name="age" size="10">
                <br>
            </div>
            
            <div id="question-section-1">
                <label for = "hypertension">Hypertension</label>
                <br>
                <div id="selection-section">
                    <input class="form-control" type="radio" id="hypertension" name="hypertension" value="1">Yes<br>
                    <input class="form-control" type="radio" id="hypertension" name="hypertension"value="0">No<br>
                </div>
                <br>
            </div>
            
            <div id="question-section-2">
                <label for = "heart_disease">Heart Disease</label>
                <br>
                <div id="selection-section">
                    <input class="form-control" type="radio" id="heart_disease" name="heart_disease" value="1">Yes<br>
                    <input class="form-control" type="radio" id="heart_disease" name="heart_disease" value="0">No<br>
                </div>
                <br>
            </div>
            
            <div id="question-section-1">
                <label for = "ever_married">Marriage Status</label>
                <br>
                <div id="selection-section">
                    <input class="form-control" type="radio" id="ever_married" name="ever_married" value="1">Yes<br>
                    <input class="form-control" type="radio" id="ever_married" name="ever_married" value="0">No<br>
                </div>
                <br>
            </div>
            
            <div id="question-section-2">
                <label for = "work_type">Work Type</label>
                <br>
                <div id="selection-section">
                    <input class="form-control" type="radio" id="work_type" name="work_type" value = "0">No Job<br>
                    <input class="form-control" type="radio" id="work_type" name="work_type" value = "1">Government Job<br>
                    <input class="form-control" type="radio" id="work_type" name="work_type" value = "2">Private Job<br>
                    <input class="form-control" type="radio" id="work_type" name="work_type" value = "3">Self employed<br>
                </div>
                <br>
            </div>
            
            <div id="question-section-1">
                <label for = "Residence_type">Residence Type</label>
                <br>
                <div id="selection-section">
                    <input class="form-control" type="radio" id="Residence" name="Residence" value="0">Rural<br>
                    <input class="form-control" type="radio" id="Residence" name="Residence" value="1">Urban<br>
                </div>
                <br>
            </div>
            
            <div id="question-section-2">
                <label for = "avg_glucose_level">Average Glucose Level</label>
                <br>
                <input class="form-control" type="text" id="avg_glucose_level" name="avg_glucose_level" size="10">
                <br>
            </div>

            <div id="question-section-1">
                <label for = "bmi">Body Mass Index</label>
                <br>
                <input class="form-control" type="text" id="bmi" name="bmi" size="10">
                <br>
            </div>

            <div id="question-section-2">
                <label for = "smoking_status">Smoking Status</label>
                <br>
                <div id="selection-section">
                    <input class="form-control" type="radio" id="smoking_status" name="smoking_status" value="0">Formerly smoked<br>
                    <input class="form-control" type="radio" id="smoking_status" name="smoking_status" value="1">Never smoked<br>
                    <input class="form-control" type="radio" id="smoking_status" name="smoking_status" value="2">Smokes<br>
                    <input class="form-control" type="radio" id="smoking_status" name="smoking_status" value="3">Unknown<br>
                </div>

                <br>
            </div>
            <button type="submit" id = "submit-button">Predict</button>
        </form>
        <br>
        <br>
        <br>
        <br>
        <script>
            const radioInputs = document.querySelectorAll('input[type="radio"]');

            radioInputs.forEach((radioInput) => {
                radioInput.addEventListener('click', () => {
                    const currentPosition = window.scrollY;

                    const targetPosition = currentPosition + 500;

                    window.scrollTo({
                        top: targetPosition,
                        behavior: 'smooth'
                    });
                });
            });
        </script>
    </body>
    
    
    
</html>