<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Prediction Tester</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static\style.css">
    </head>
<html>
    <body>
        <div id = "title">
            Brain Stroke? 
            <br>
            <b>{{prediction}}
        </div>

        <form id="my-form" action="/predict" method="POST">

            <div id="question-section-1">
                <label for = "gender">Gender</label>
                <br>
                <div id="selection-section">
                    <input class="form-control" type="radio" id="gender" name="gender" value="Male">Male<br>
                    <input class="form-control" type="radio" id="gender" name="gender" value="Female">Female<br>
                </div>
            </div>
            
            <div id="question-section-2">
                <label for = "age">Age</label>
                <br>
                <select id="age" name="age">
                    <option value="11">1.0</option>
                    <option value="23">2.0</option>
                    <option value="24">3.0</option>
                    <option value="25">4.0</option>
                    <option value="26">5.0</option>
                    <option value="27">6.0</option>
                    <option value="28">7.0</option>
                    <option value="29">8.0</option>
                    <option value="30">9.0</option>
                    <option value="31">10.0</option>
                    <option value="32">11.0</option>
                    <option value="33">12.0</option>
                    <option value="34">13.0</option>
                    <option value="35">14.0</option>
                    <option value="36">15.0</option>
                    <option value="37">16.0</option>
                    <option value="38">17.0</option>
                    <option value="39">18.0</option>
                    <option value="40">19.0</option>
                    <option value="41">20.0</option>
                    <option value="42">21.0</option>
                    <option value="43">22.0</option>
                    <option value="44">23.0</option>
                    <option value="45">24.0</option>
                    <option value="46">25.0</option>
                    <option value="47">26.0</option>
                    <option value="48">27.0</option>
                    <option value="49">28.0</option>
                    <option value="50">29.0</option>
                    <option value="51">30.0</option>
                    <option value="52">31.0</option>
                    <option value="53">32.0</option>
                    <option value="54">33.0</option>
                    <option value="55">34.0</option>
                    <option value="56">35.0</option>
                    <option value="57">36.0</option>
                    <option value="58">37.0</option>
                    <option value="59">38.0</option>
                    <option value="60">39.0</option>
                    <option value="61">40.0</option>
                    <option value="62">41.0</option>
                    <option value="63">42.0</option>
                    <option value="64">43.0</option>
                    <option value="65">44.0</option>
                    <option value="66">45.0</option>
                    <option value="67">46.0</option>
                    <option value="68">47.0</option>
                    <option value="69">48.0</option>
                    <option value="70">49.0</option>
                    <option value="71">50.0</option>
                    <option value="72">51.0</option>
                    <option value="73">52.0</option>
                    <option value="74">53.0</option>
                    <option value="75">54.0</option>
                    <option value="76">55.0</option>
                    <option value="77">56.0</option>
                    <option value="78">57.0</option>
                    <option value="79">58.0</option>
                    <option value="80">59.0</option>
                    <option value="81">60.0</option>
                    <option value="82">61.0</option>
                    <option value="83">62.0</option>
                    <option value="84">63.0</option>
                    <option value="85">64.0</option>
                    <option value="86">65.0</option>
                    <option value="87">66.0</option>
                    <option value="88">67.0</option>
                    <option value="89">68.0</option>
                    <option value="90">69.0</option>
                    <option value="91">70.0</option>
                    <option value="92">71.0</option>
                    <option value="93">72.0</option>
                    <option value="94">73.0</option>
                    <option value="95">74.0</option>
                    <option value="96">75.0</option>
                    <option value="97">76.0</option>
                    <option value="98">77.0</option>
                    <option value="99">78.0</option>
                    <option value="100">79.0</option>
                    <option value="101">80.0</option>
                    <option value="102">81.0</option>
                    <option value="103">82.0</option>
                  </select>
                <br>
            </div>
            
            <div id="question-section-1">
                <label for = "hypertension">Hypertension</label>
                <br>
                <div id="selection-section">
                    <input class="form-control" type="radio" id="hypertension" name="hypertension" value="1">Yes<br>
                    <input class="form-control" type="radio" id="hypertension" name="hypertension"value="0">No<br>
                </div>
                <br>
            </div>
            
            <div id="question-section-2">
                <label for = "heart_disease">Heart Disease</label>
                <br>
                <div id="selection-section">
                    <input class="form-control" type="radio" id="heart_disease" name="heart_disease" value="1">Yes<br>
                    <input class="form-control" type="radio" id="heart_disease" name="heart_disease" value="0">No<br>
                </div>
                <br>
            </div>
            
            <div id="question-section-1">
                <label for = "ever_married">Marriage Status</label>
                <br>
                <div id="selection-section">
                    <input class="form-control" type="radio" id="ever_married" name="ever_married" value="1">Yes<br>
                    <input class="form-control" type="radio" id="ever_married" name="ever_married" value="0">No<br>
                </div>
                <br>
            </div>
            
            <div id="question-section-2">
                <label for = "work_type">Work Type</label>
                <br>
                <div id="selection-section">
                    <input class="form-control" type="radio" id="work_type" name="work_type" value = "0">No Job<br>
                    <input class="form-control" type="radio" id="work_type" name="work_type" value = "1">Government Job<br>
                    <input class="form-control" type="radio" id="work_type" name="work_type" value = "2">Private Job<br>
                    <input class="form-control" type="radio" id="work_type" name="work_type" value = "3">Self employed<br>
                </div>
                <br>
            </div>
            
            <div id="question-section-1">
                <label for = "Residence_type">Residence Type</label>
                <br>
                <div id="selection-section">
                    <input class="form-control" type="radio" id="Residence" name="Residence" value="0">Rural<br>
                    <input class="form-control" type="radio" id="Residence" name="Residence" value="1">Urban<br>
                </div>
                <br>
            </div>
            
            <div id="question-section-2">
                <label for = "avg_glucose_level">Average Glucose Level</label>
                <br>
                <br>
                50<input class="form-control" type="range" id="avg_glucose_level" name="avg_glucose_level" min="0" max="3894" value="1800" step="1" style="height: 30px;">300
                <br>
            </div>

            <div id="question-section-1">
                <label for = "bmi">Body Mass Index</label>
                <br>
                <br class="small">
                13<input class="form-control" type="range" id="bmi" name="bmi" min="0" max="341" value="170" step="1" style="height: 30px;">50
                <br>
            </div>

            <div id="question-section-2">
                <label for = "smoking_status">Smoking Status</label>
                <br>
                <div id="selection-section">
                    <input class="form-control" type="radio" id="smoking_status" name="smoking_status" value="0">Formerly smoked<br>
                    <input class="form-control" type="radio" id="smoking_status" name="smoking_status" value="1">Never smoked<br>
                    <input class="form-control" type="radio" id="smoking_status" name="smoking_status" value="2">Smokes<br>
                    <input class="form-control" type="radio" id="smoking_status" name="smoking_status" value="3">Unknown<br>
                </div>

                <br>
            </div>
            <button type="submit" id = "submit-button">Predict</button>
        </form>
        <br>
        <br>
        <br>
        <br>
        <script>
            const radioInputs = document.querySelectorAll('input[type="radio"]');

            radioInputs.forEach((radioInput) => {
                radioInput.addEventListener('click', () => {
                    const currentPosition = window.scrollY;

                    const targetPosition = currentPosition + 500;

                    window.scrollTo({
                        top: targetPosition,
                        behavior: 'smooth'
                    });
                });
            });

            const rangeInput = document.getElementById('range');
            const hiddenInput = document.getElementById('selected-value');

            // Add an event listener for the input event
            rangeInput.addEventListener('input', () => {
                const value = rangeInput.value;
                hiddenInput.value = value;
            });
        </script>
    </body>
</html>